@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
}

.bg-azul{
    background-color: #6c5b7b;
}
.bg-bco {
    background-color:#ffffff
}
.bco {
    color:#ffffff
}
.negro {
    color:#000000
}
.contenedor {
    background-color:#ffffff;
    border-radius:4px;

}
.contenedor2 {
    background-color:#FAFAF9;
    border-radius:4px;

}
.ffMono {
    font-family: monospace;
}
.fs12 {
    font-size:12px;
}
.fs18 {
    font-size:18px;
}
.bold {
    font-weight: 700;
}
.boton {
    background-color: #6c5b7b;
    border-radius:5px;
    font-size:12px;
    padding:8px;
    color:#ffffff;
    border:none;

}
.boton2 {
    background-color: #ffffff;
    border: 1px solid #6c5b7b ;
    border-radius:5px;
    font-size:12px;
    padding:8px;
    color:#6c5b7b;

}

.boton:hover {
    background-color: #5a3070;
    color:#ffffff;


}
.boton2:hover {
    background-color: #5a3070;
    color:#ffffff;


}
.active {
    background-color:aquamarine;
}
.logo {
    width:200px;
}

table {
    border:1px solid #EDEDED;
    background-color:#ffffff;
}
thead {
    background-color:#ffffff;
    border-bottom:1px solid #989595;
    
}
th {
    padding:10px
}
td {
    padding:10px;
    border-bottom:1px solid #EDEDED;
}

input {
    border:1px solid #EDEDED;
    border-radius:5px;
    padding:8px;
    font-size:12px;
}

body{
    background-color:  #6c5b7b;
}

.menu:hover {
    color: #5a3070;
}

@media screen and (max-width: 600px) { 
    .logo {
        width: 120px;
    }
}



